<div class="submission-container">
    <div class="submission-card-container">
        <h3>Register</h3>
    <form  action="" method="post">
        <input type="text" name="name" placeholder="Name"> <br />
        <input type="text" name="email" placeholder="E-mail"> <br />
        <input type="password" name="password" placeholder="Password"> <br />
        <input type="text" name="roles" placeholder="Role"> <br />
    
        <input id="submission-button" type="submit" value="Register" /> <br/>
    </form>
    </div>
    </div>