<div class="submission-container">
    <div class="submission-card-container">
        <h3>Edit Portfolio</h3>
        <form  action="" method="post">
        <input type="text" value="<%= product.title %>" name="title" placeholder="Title"/> <br/>
        <input type="text" value="<%= product.description %>" name="description" placeholder="Description"/> <br/>
        <!-- Image: <input type="file" label="image" name="image" accept=".jped, .jpg, .png" /> -->
    
        <input id="submission-button" type="submit" value="Edit" /> <br/>
    </form>
    </div>
    </div>