
<div class="login-container">
<div class="submission-container">
    <div class="submission-card-container">
        <h3>Login</h3>
    <form  action="" method="post">
        <input type="text" name="email" placeholder="E-mail"/> <br/>
        <input type="password"  name="password" placeholder="Password"/> <br/>
        <input id="submission-button" type="submit" value="Login" /> <br/>
    </form>
    </div>
    </div>
</div>