
<div class="footer-container">
    <div class="footer-text-container">
        Copyright © 2023. All rights reserved.
    </div>
    <div class="footer-icons-container">
        <img src="/assets/navbar-icon.svg"  alt="" />
    </div>
</div>