<div class="submission-container">
    <div class="submission-card-container">
        <h3>Add Portfolio</h3>
        <form  action="" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title"/> <br/>
        <input type="text" name="description" placeholder="Description"/> <br/>
        Image: <input type="file" label="image" name="image" accept=".jped, .jpg, .png" />
    
        <input id="submission-button" type="submit" value="Add" /> <br/>
    </form>
    </div>
    </div>