<div class="contact-container">
    <div class="contact-text-container">
        <h1>Contact Us</h1>
        <p>Email, call or submit the form to learn how we can solve your problem.</p>
        <p>info@goodbook.com</p>
        <p>123-123-123</p>
        <a href="/contact-us">Customer Support</a>

        <div class="contact-components-container">
            <div class="contact-component">
                <h5>Customer Support</h5>
                <p>
                    We are available for you and our support team is there to help you around the clock.
                </p>
            </div>
            <div class="contact-component">
                <h5>Feedback & Suggestions</h5>
                <p>
                    We value your feedback and are continuously imroving Goodbooks to deliver quality products.
                </p>
            </div>
            <div class="contact-component">
                <h5>Media Queries</h5>
                <p>
                    For media-related queries, please contact us at media@goodbooks.com
                </p>
            </div>

        </div>
    </div>


    <div class="contact-card-container">
        <h1>Get in Touch</h1>
        <p>Talk to us anytime</p>
        <form action="" method="post">
        <input type="text" placeholder="Name" name="name"/>
        <input type="email" placeholder="E-mail" name="email"/>
        <input type="tel" placeholder="Phone" name="phone">
        <textarea placeholder="How can we help?" name="text"></textarea>
        <input id="contact-submit-button" type="submit"/>
    </form>
    </div>
</div>